PORT=

NODE_ENV=""


DATABASE_URL=""

# JWT secret key (replace with a strong secret key)
JWT_SECRET=""

# JWT expiration time (you can adjust these based on your needs)
JWT_EXPIRATION=""
USER_JWT_EXPIRATION=""
