PORT=3001
NODE_ENV=development

DATABASE_URL="postgresql://postgres:1234@localhost:5432/lending-cart?schema=public"

JWT_SECRET="lending_cart_secret_key_this_is_ok"
JWT_EXPIRATION=24h
USER_JWT_EXPIRATION=24h

# OPENFGA CONFIG
FGA_API_SCHEME=http
FGA_API_HOST=localhost:8080
FGA_STORE_ID=01KBYEA4WEA7R40ECGCJW6X592  
FGA_MODEL_ID=01KBYESJ400SAKQ86MYBX31B1C            

FRONTEND_URL="localhost:5173"

SEED_ADMIN_EMAIL=admin@lendingcart.local
SEED_ADMIN_PASSWORD=admin@123
SEED_PLATFORM_ORG_NAME=LendingCart Platform
SEED_PLATFORM_ORG_EMAIL=platform@lendingcart.local

KAFKA_CLIENT_ID=my-node-service
KAFKA_BROKERS=localhost:9092
KAFKA_EMAIL_TOPIC=email-sending


SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER="support@foliomax.in"
SMTP_PASS="Foliomax@#2026"

GHL_WEBHOOK_URL=https://services.leadconnectorhq.com/hooks/ElmzMMMlbfMKckOpU0pT/webhook-trigger/01c3b25b-2f34-44de-ab8f-0df3e25e7590