@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "flatpickr/dist/flatpickr.css";

@import "tailwindcss";

@source "./**/*.{js,jsx,ts,tsx}";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #2c92d5;
  color-scheme: light;
}

body {
  font-family: Outfit, system-ui, sans-serif;
}
